.cardWrapper {
    composes: cardWrapper from '../../../Global.module.css';
}

.bottomParagraph {
    composes: bottomParagraph from '../StepPhoneEmail/stepPhoneEmail.module.css';
}

.actionButtonWrap {
    composes: actionButtonWrap from '../StepPhoneEmail/stepPhoneEmail.module.css';
}